<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adminkiss.crm.dao.system.SysAreaDao" >

  <resultMap id="BaseResultMap" type="SysArea" >
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="display_name" property="displayName"/>
    <result column="hot_status" property="hotStatus" />
    <result column="sort" property="sort" />
    <result column="created_time" property="createdTime" />
    <result column="last_modified_time" property="lastModifiedTime" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, display_name, hot_status, sort, created_time, last_modified_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_area
    where id = #{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_area
    where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="SysArea">
    insert into sys_area (id, name, display_name, 
      hot_status, sort, created_time, 
      last_modified_time)
    values (#{id}, #{name}, #{displayName}, 
      #{hotStatus}, #{sort}, now(), now())
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="SysArea" >
    update sys_area
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName},
      </if>
      <if test="hotStatus != null" >
        hot_status = #{hotStatus},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      last_modified_time = now()
    </set>
    where id = #{id}
  </update>
  <select id="selectByParentCode" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_area
		<where>
			<if test="type != null and type == 0">
				`id` like CONCAT('${parentCode}','%' )
			</if>
			<if test="type != null and type == 1">
				`id` like CONCAT('${parentCode}','____' )
			</if>
		</where>
		order by `id`, sort desc
	</select>
</mapper>